:root{
    --cor-fundo : #E6DDD8;
    --cor1 : rgba(0, 0, 0, 1);
    --font-padrao : earthorbit;
    --font-roboto : roboto;
    --verde : rgba(189,249,1,255);
    --rosa : rgba(255,0,106,255);
    --azul : rgba(0,87,255,255);
    --cinza : rgb(71, 67, 67);
} 
html{
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0; 
}


@font-face {
    font-family: earthorbit;
    src: url(earthorbiter.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: roboto;
    src: url(Roboto-Medium.ttf);
    font-weight: normal;
    font-style: normal;
}


.body{
    background-color: var(--cor1);
}

   
nav{
    align-items: center;
    padding: 20px;
    background-color: var(--cor1); 
    list-style-type: none;
}

nav ul{
    padding: 0%;
    list-style-type: none;
    display: inline-block;
}

nav ul li{
    transition: background 3s;

}



nav ul li a{
    color: var(--cor-fundo);
    text-decoration: none;
    padding: 15px;
    transition: .6s;
}

nav ul li a:hover{
    color: var(--verde);
    border-radius: 20px;
    opacity: 80%;
    box-sizing: 10px;
    height: 5%;
}

.img{
    width: 8%;
    box-shadow: 2px;
    position: fixed;
    margin-left: 0px;
    
}

.letra{
    width: 18%;
    margin-right: -30px;
    margin-left: 100px;
    transition: x="3";
}

.ScrollTop{
    outline: none;
    border: 0;
    background-color: white;
    height: 60px;
    width: 60px;
    padding: 8px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    right: 30px;
    bottom: 30px;
    box-shadow: 0 1px 6px 2px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    z-index: 999;
    cursor: pointer;
    transition: all .4s ease;
}


.ScrollTop img{
    width: 100%;
}

nav .sustyle{
    align-items: center;
    float: none;
    padding: 6%;
    color: rgba(189,249,1,255);
    font-family: var(--font-padrao);
    margin-left: -20px;

}


.btn-search {
    width: 135px;
    height: 30px;
    display: inline-block;
    position: relative;

}


.lupa{
    display: inline;
    text-decoration: none;
    font-size: 150%; 
    align-items: center;
}

.line1{
    color: var(--verde);
    opacity: 100%;
    margin-top: -23px;
}
.line2{
    color: var(--rosa);
    opacity: 100%;
    margin-top: -16px;
}
.line3{
    color: var(--azul);
    opacity: 100%;
    margin-top: -16px;
}


.img-ferramentas{
    width: 30%;
    margin-left: -60px;
    
}

.img-quimica{
    width: 30%;
}

.img-roupa{
    width: 30%;
    margin-right: -60px;
}

.imagens{
    display: inline-block;
    position: relative;
    float: none;
    background-color: var(--cor1);
    margin-bottom: 30px;
}

.sub-title{
    background-color: var(--rosa);
    display: block;
    align-items: center;
    padding: 2%;
    margin-bottom: -10px;
}

.sub-title1{
    color: var(--cor-fundo);
    font-family: var(--font-roboto);
    transition: .6s;
}

.sub-title1:hover{
    color: var(--azul);
}

.card1{
    margin-right: 20px;
}

.card-group{
    display: inline-flex;
    text-align: justify;

}

.line5{
    color: var(--verde);
    opacity: 100%;
    margin-bottom: -15px;
}
.line6{
    color: var(--rosa);
    opacity: 100%;
    margin-bottom: -16px;
}
.line7{
    color: var(--azul);
    opacity: 100%;
    margin-bottom: -1px;
}

@media (max = 600px) {
    .imagens{
        display: flex;
        align-items: center;
        float: none;
        background-color: var(--rosa);
        margin-bottom: 50px;
    }
    
    
}

.perguntas{
    background-color: var(--rosa);
    padding: 2%;
    margin-top: -60px;
}

.frequente{
    color: var(--cor-fundo);
    font-family: var(--font-roboto);
    transition: .6s;
}

.frequente:hover{
    color: var(--verde);
}

.details{
    background-color: var(--cinza);
    padding: 10px;
}

.details summary{
    color: var(--cor-fundo);
    align-items: center;
    text-align: center;
    transition: .6s;

}

.details summary:hover{
    color: var(--cor1);
}


.details p{
    color: var(--verde);
    text-align: center;
    margin-top: 15px;
}

